.links div {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    padding-bottom: 0.3rem;
    font-size: 2rem;
    border-radius: 4px;
    font-weight: bold;
}

.links div.ping a {
    color: white;
}

.links div a:hover {
    color: black;
}

.ping {
    background-color: #DC143C;
}

.ping.alive {
    background-color: #2E8B57;
}

h1.title {
    margin-top: 1rem;
    font-size: 3rem;
}

button.refresh {
    margin-top: 1rem;
}

.bulletins {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img, iframe {
        margin-bottom: 1rem;
    }
}

.with-margins {
    margin-left: 3%;
    margin-right: 3%;
}

